<template>
  <v-flex xs6>
    <v-card
      class="mx-auto my-5"
      max-width="374"
    >

      <v-img
        height="250"
        :src="
            blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/400/200'
          "
      ></v-img>

      <v-card-title> {{ blog.title }}</v-card-title>

      <v-card-text>
        <v-row
          align="center"
          class="mx-0"
        >
          <v-rating
            :value="randomRating()"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          ></v-rating>

          <div class="grey--text ms-4">
            ({{randomRev()}})
          </div>
        </v-row>
        
        <div class="my-4 text-subtitle-1">
          {{ blog.description.substring(0,10) }}...
        </div>
      </v-card-text>

      <v-divider class="mx-4"></v-divider>
      <v-card-actions>
        <v-btn
          color="light-blue accent-1"
          text
          :to="'/blog/'+ blog.id" 
        >
          Details
        </v-btn>
      </v-card-actions>
    </v-card>
    </v-flex>
</template>

<script>
export default {
    data : () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com'
    }),
    props : ['blog'],
    methods: {
        randomRating : function(){
      return Math.floor(Math.random() * (5 - 1 + 1)) + 1;
    },
    randomRev : function(){
      return Math.floor(Math.random() * (500 - 1 + 1)) + 1;
    },
    }
}
</script>