<template>
    <v-card shaped class="mx-auto pa-12" width="30%">

            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-card-title class="justify-center pa-4"><h3>Login</h3></v-card-title>

   
    <v-container fluid>
        <v-form ref="form">
            <v-text-field
            v-model="email"
            label="E-mail"
            class="py-4"
            required
            append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            class="py-4"
            counter
            @click:append="showPassword = !showPassword"
            ></v-text-field>
            <div class="text-xs-center" align="center" justify="space-around">
                <v-btn 
                color="blue accent-2"
                @click="submit"
                >
                    Login
                </v-btn>
            
            <v-container></v-container>
            <router-link to="/lupa-password" @click.native="close"> Forget Password? </router-link>
            <v-container></v-container>
            <v-container></v-container>
              Don't have an account? <br>
              <v-btn text color="green lighten-1" @click="register">
                Register Here
              </v-btn>
            </div>
        </v-form>
        
    </v-container>
     </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return {
            email : '',
            showPassword : false,
            password : '',
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent: "dialog/setComponent",
        }),

        
        close(){
            this.$emit('closed',false)
        },
        submit(){
            const config = {
                method : 'post',
                url : this.apiDomain + '/api/v2/auth/login',
                data : {
                    'email' : this.email,
                    'password' : this.password
                }
            }
            this.axios(config)
                .then((response) => {
                    this.setToken(response.data.access_token)
                    console.log(response.data)
                    this.setAlert({
                        status : true,
                        color : 'light-blue accent-2',
                        text : 'Login Berhasil'
                    })
                    this.close();
                    this.$router.push('/')
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'deep-orange darken-1',
                        text : 'Login Gagal'
                    })
                })
        },
        register() {
            this.setDialogComponent({ component: "register" });
        },
    }
}
</script>