<template>
  <!-- App.vue -->

<v-app>
 
  <Alert/>
  <Dialog/>
  <v-navigation-drawer app v-model="drawer">
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/78.jpg'"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="light-blue lighten-2" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="green lighten-1" @click="register">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>
      </div>

      <v-divider></v-divider>
      <v-list-item
      v-for="(item,index) in menus"
      :key="`menu-${index}`"
      :to="item.route"
      >
      <v-list-item-icon>
        <v-icon left>{{ item.icon }}</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item-content>
      </v-list-item>

      <div v-if="this.token">
        <v-list-item
          v-for="(item,index) in menuLogin"
          :key="`menu-${index}`"
          :to="item.route"
          >
        <v-list-item-icon>
          <v-icon left>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
        </v-list-item>
      </div>
    </v-list>

    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="pink accent-2" dark @click="logout" >
          <v-icon left>mdi-lock</v-icon>
          Logout
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>

  <v-app-bar app color="blue accent-2" dark>
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>Jabar Coding Camp Website Blog</v-toolbar-title>
    <v-spacer></v-spacer>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>

      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer
    dark
    padless
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="blue accent-2">
        <strong class="subheading">Final Project dari Kelompok 16</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="grey darken-3 py-2 white--text text-center">
        2022 — <strong>Jabar Coding Camp | VueJS</strong>
      </v-card-text>
    </v-card>
  </v-footer>

</v-app>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';


export default {
  components : { 
    Alert : () => import('./components/Alert.vue'),
    Dialog : () => import('./components/Dialog.vue')
    },
  name: 'App',

  data: () => ({
    drawer : true,
    menus : [
      { title : 'Home', icon : 'mdi-home', route : '/'},
      { title : 'Blogs', icon : 'mdi-file-multiple-outline', route : '/blogs'},
    ],
    menuLogin : [
      { title : 'Add Blog', icon : 'mdi-file-edit-outline', route : '/kelolablogs'}
    ],
    icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-instagram',
      ],

    // guest : false,
    apiDomain : 'https://demo-api-vue.sanbercloud.com'
  }),
  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    })
  },
  methods : {
    logout(){
      let config = {
        method : 'post',
        url : this.apiDomain + '/api/v2/auth/logout',
        headers : {
          'Authorization' : 'Bearer ' + this.token
        },
      }
      this.axios(config)
        .then(()=> {
          this.setToken('')
          this.setUser({})
          this.guest = true
          this.setAlert({
          status : true,
          color : 'blue-grey darken-1',
          text : 'Anda Berhasil Logout'
      })
        })
        .catch((response) => {
          this.setAlert({
          status : true,
          color : 'deep-orange darken-1',
          text : response.data.error
      })
        })
      
    },
    
    login() {
      this.setDialogComponent({ component: "login" });
    },
    register() {
      this.setDialogComponent({ component: "register" });
    },
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
      setToken: "auth/setToken",
      setUser: "auth/setUser",
      checkToken: "auth/checkToken",
    }),
  },

  mounted() {
    if (this.token) {
      this.checkToken(this.token);
    }
  },
};
</script>
