<template>
  <div>
    <v-btn :to="`/blogs`">
      <v-icon>
        {{ "mdi-arrow-left-thin" }}
      </v-icon>
    </v-btn>
    <v-card class="mx-auto align-end" max-width="50%">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'
        "
        class="white--text"
        height="200px"
      >
      </v-img>
      <v-card-title v-if="!btnStatus">
        {{ blog.title }}
      </v-card-title>

      <v-card-subtitle v-if="!btnStatus">
        {{ blog.description }}
      </v-card-subtitle>

      <v-card-text v-if="btnStatus == true">
        <v-text-field
          v-model="title"
          name="title"
          label="Title"
          class="py-4"
          ref="title"
          single-line
          hide-details
        ></v-text-field>
        <v-textarea
          clearable
          v-model="description"
          clear-icon="mdi-close-circle"
          label="Description"
          ref="description"
          single-line
          hide-details
          height="100"
        ></v-textarea>
      </v-card-text>

      <v-card-actions v-if="this.token">
        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show" class="pa-7">
          <v-divider></v-divider>
          <v-file-input
            class="py-7"
            v-model="photo"
            label="Photo"
            filled
            prepend-icon="mdi-camera"
            accept="image/*"
            show-size
            truncate-length="50"
            ref="photo"
            type="file"
          ></v-file-input>
          <v-btn @click="uploadPhoto()" color="light-blue lighten-3" text>
            Upload Photo
          </v-btn>
          <v-btn
            @click="editBlog(blog)"
            v-if="!btnStatus"
            color="light-blue lighten-3"
            text
          >
            Edit
          </v-btn>
          <v-btn
            v-if="btnStatus"
            @click="updateBlog()"
            color="light-blue lighten-3"
            text
          >
            Update
          </v-btn>
          <v-btn @click="deleteBlog(blog.id)" color="light-blue lighten-3" text>
            Delete
          </v-btn>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    blog: {},
    title: "",
    description: "",
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    photo: [],
    show: false,
    btnStatus: false,
  }),
  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    uploadPhoto: function () {
      // let file = this.$refs.photo.files[0]
      let { id } = this.$route.params;
      let formData = new FormData();
      formData.append("photo", this.photo);

      const config = {
        method: "post",
        url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
        data: formData,
        headers: {
          Authorization: "Bearer" + this.token,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response.data.message);
          this.setAlert({
            status: true,
            color: "teal darken-1",
            text: "Sukses Upload Foto.",
          });
          this.go();
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "gagal upload foto.",
          });
        });
    },
    deleteBlog: function (id) {
      if (confirm("apakah anda yakin ingin menghapus?")) {
        const config = {
          method: "post",
          url: `${this.apiDomain}/api/v2/blog/${id}`,
          params: { _method: "DELETE" },
          headers: {
            Authorization: "Bearer" + this.token,
          },
        };
        this.axios(config)
          .then((response) => {
            console.log(response.data.message);
            this.setAlert({
              status: true,
              color: "success",
              text: "Berhasil Mengapus",
            });
            this.$router.push("/blogs");
          })
          .catch((error) => {
            console.log(error);
            this.setAlert({
              status: true,
              color: "warning",
              text: "Gagal Menghapus",
            });
          });
      }
    },
    editBlog: function (blog) {
      this.title = blog.title;
      this.description = blog.description;
      this.btnStatus = true;
    },
    updateBlog: function() {
      let { id } = this.$route.params;
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);

      const config = {
        method: "post",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
        data: formData,
        params: { _method: "PUT" },
        headers: {
          'Authorization': 'Bearer' + this.token,
        },
      };

      this.axios(config)
        .then((response) => {
          console.log(response.data.message);
          this.blog = response.data.blog;
          this.setAlert({
            status: true,
            color: "green lighten-1",
            text: "Berhasil Mengedit",
          });
          this.btnStatus = false;
          this.$router.push("/blogs");
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "red lighten-1",
            text: "Gagal Mengedit",
          });
        });
    },
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),
  },
  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },
  created() {
    this.go();
  },
};
</script>