<template>
<v-container>
  <v-form @submit.prevent="submitForm()">
    <v-card elevation="6" shaped class="mx-auto ma-16 pa-12" width="70%">
        <v-card-title class="justify-center pa-4"><h1>Add Blog</h1></v-card-title>
        
        <v-card-text>
            <v-text-field
                v-model="title"
                label="Title"
                class="py-4"
                ref="title"
                type="text"
                required
            ></v-text-field>
            <v-textarea
                clearable
                v-model="description"
                clear-icon="mdi-close-circle"
                label="Description"
                ref="description"
                required
            ></v-textarea>
        </v-card-text>

        <v-card-actions>
            <v-row align="center" justify="space-around">
                <v-btn @click="submitForm()" depressed color="blue accent-2" class="my-4" >
                Create
                </v-btn>
            </v-row>
        </v-card-actions>
    </v-card>
  </v-form>
</v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data : () => ( {
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
    title : '',
    description : '',
  }),
  methods: {
    submitForm : function(){
          
            let formData = new FormData()
            formData.append('title' , this.title)
            formData.append('description' , this.description)

            const config = {
              method : "post",
              url : this.apiDomain + '/api/v2/blog',
              data : formData,
              headers : {
                    'Authorization' : 'Bearer ' + this.token
                }
            }

            this.axios(config)
              .then( (response) => {
                console.log(response.data.message)
                this.setAlert({
                  status : true,
                  color : 'success',
                  text : 'Berhasil menambah Blog'
                })
                this.$router.push('/blogs')
              })
              .catch( (error) => {
                console.log(this.token)
                this.setAlert({
                        status : true,
                        color : 'success',
                        text : error
                    })
              })
           
        },
      ...mapActions({
        setAlert : 'alert/set',
        setToken : 'auth/setToken',
      })
  },
  computed : {
    ...mapGetters({
      token: 'auth/token',
    })
  }
}
</script>