<template>
    <v-card shaped class="mx-auto ma-15 pa-12" width="30%">
            <v-card-title class="justify-center pa-4"><h3>Reset Password</h3></v-card-title> 
    <v-container fluid>
        <v-form ref="form">
            <v-text-field
            v-model="email"
            label="E-mail"
            class="py-4"
            required
            append-icon="mdi-email"
            ></v-text-field>
            
            <div class="text-xs-center" align="center" justify="space-around">
                <v-btn 
                color="blue accent-2"
                >
                    Reset
                </v-btn>
            </div>
        </v-form>
        
    </v-container>
     </v-card>
</template>